<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772796544514-6e7ojgna30a1sjcvpknknn42psnnsa5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772796544514-6e7ojgna30a1sjcvpknknn42psnnsa5m</string>
	<key>API_KEY</key>
	<string>AIzaSyBlmrozufpqFBNSkmDgm4LfdWnCPQ6KJ2A</string>
	<key>GCM_SENDER_ID</key>
	<string>772796544514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FirbaseApp</string>
	<key>PROJECT_ID</key>
	<string>firbase-app-sepe</string>
	<key>STORAGE_BUCKET</key>
	<string>firbase-app-sepe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772796544514:ios:cc38148737deec8b74191b</string>
</dict>
</plist>